:root{
    --gray:rgba(217, 217, 217, 0.7);
    --bule:#0047FF;
    --white:#FFFEFE;
    --dark-blue:#2E333F;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--dark-blue);
}

/* landing page */

.landingpage{
    background-color: var(--gray);
    height: 90vh;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 90vw;
    margin: 0px auto;
}

.logo h2{
    font-weight: 600;
    font-size: 35px;
}
.logo h2 span:last-child{
    color: var(--bule);
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items ul{
    display: flex;
}

.nav-items ul li{
    justify-content: space-evenly;
    list-style: none;
    font-weight: 500;
    padding: 0px 25px;
    font-size: 17px;
}

.active{
    color: var(--bule);
}

 .button{
    padding: 6px 22px;
    border: none;
    background-color: var(--bule);
    font-weight: bold;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}
main{
    /* width: 90vw; */
}

main .intro-word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
}

.intro-word h1{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 40px;

}
.intro-word h1 span:last-child{
    color: var(--bule);
}

.intro-word .name{
    font-size: 18px;
    margin-bottom: 40px;
}

.name{
    letter-spacing: 1px;
}
.name span:last-child{
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}

.s-name{
    color: var(--bule);
}

.small{
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.small span{
    color: var(--bule);
}


/* About Me page */
.about-me{
    display: flex;
    width: 90vw;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}
.description{
    width: 50%;
}

.description h2{
    color: var(--bule);
}
.description h1{
    padding: 30px 0px;
}

.description div{
    padding-bottom: 30px;
    width: 50%;
    line-height: 25px;
    letter-spacing: 1px;
}

.image{
    width: 40%;
}
.image img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}