:root{
    --gray:rgba(217, 217, 217, 0.7);
    --bule:#0047FF;
    --white:#FFFEFE;
    --dark-blue:#2E333F;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--dark-blue);
}
body{
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* landing page */

.landingpage{
    background-color: var(--gray);
    height: 90vh;
}

.nav-container{
    width: 100vw;
}
.scroll{
    background-color: var(--white);
    position: fixed;
    top: 0px;
    left: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 90vw;
    margin: 0px auto;
    
}



.logo h2{
    font-weight: 600;
    font-size: 35px;
}
.logo h2 span:last-child{
    color: var(--bule);
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items ul{
    display: flex;
    align-items: center;
}

.nav-items ul li{
    justify-content: space-evenly;
    list-style: none;
    font-weight: 500;
    padding: 0px 25px;
    font-size: 17px;
}

.nav-contents{
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 0;
    transition: all ease-in 0.3s;
    display: none;
}

.nav-contents.open{
    right: 0;
}

.nav-contents ul{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.nav-contents ul li{
    list-style: none;
    padding: 5px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--bule);
}

.active{
    color: var(--bule);
}

 .button{
    padding: 6px 22px;
    border: none;
    background-color: var(--bule);
    font-weight: bold;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}

.burger{
    display: relative;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1;
    display: none;
}

.burger span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--bule);
    margin-bottom: 6px;
    transition: all ease-in 0.3s;
}

.burger.open span:nth-child(1){
    transform: rotate(45deg) translateY(10px);
}
.burger.open span:nth-child(2){
    opacity: 0;
}

.burger.open span:nth-child(3){
    transform: rotate(-45deg) translateY(-10px);
}

/* main{
    width: 90vw;
} */

main .intro-word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
}

.intro-word h1{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.intro-word h1 span:last-child{
    color: var(--bule);
}

.intro-word .name{
    font-size: 18px;
    margin-bottom: 40px;
}

.name{
    letter-spacing: 1px;
}
.name span:last-child{
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}

.s-name{
    color: var(--bule);
}

.small{
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.small span{
    color: var(--bule);
}


/* About Me page */
.about-me{
    display: flex;
    width: 90vw;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}
.description{
    width: 50%;
}

.description h2{
    color: var(--bule);
}
.description h1{
    padding: 30px 0px;
}

.description div{
    padding-bottom: 30px;
    width: 50%;
    line-height: 25px;
    letter-spacing: 1px;
}

.image{
    width: 40%;
}
.image img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* SERVICES SECTION */
.services-section{
    background-color: var(--gray);
}
.services{
    width: 90vw;
    margin: 30px auto;
    padding: 30px 0px;
}
.services h2{
    color: var(--bule);
}

.services .card{
    background-color: var(--white);
    margin-top: 30px;
    width: 330px;
    height: auto;
    border-radius: 15px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 2;    
    grid-gap:15px ;
}

.services .card img{
    width: 140px;
    height: 100;
}

.services .card h3{
    padding-top: 20px;
}

/* PORTIFOLIO SECTION */

.portifolio-section{
    width: 90vw;
    margin: 30px auto;
}

.portifolio-section h2{
    color: var(--bule);
    padding-bottom: 30px;
}

.portifolio-section .card{
    background-color: var(--gray);
    width: 330px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
}

.portifolio-section .card img{
    width: 100%;
    height: 100;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.portifolio-section h3{
    color: var(--bule);
    font-weight: 500;
}

.portifolio-section .explanation{
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: underline;
}

/* BLOG SECTION */
.blog-section{
    background-color: var(--gray);
}

.blog{
    width: 90vw;
    margin: 0px auto;
    padding: 40px 0px;
}

.blog h2{
    color: var(--bule);
    padding: 25px 0px;
}

.blog-section .card{
    background-color: var(--white);
    width: 330px;
    height: auto;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-section .card img{
    width: 90%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-section .explanation{
    padding: 10px 10px;
    font-size: 14px;
    text-decoration: underline;
}

.blog h4{
   align-self: flex-start;
   padding-left: 10px;
   color: var(--bule);
   text-decoration: underline;
   cursor: pointer;
}

/* CONTACT SECTION */
.contact-section{
    width: 90vw;
    margin: 30px auto;
}

.contact-section h2{
    color: var(--bule);
    padding-bottom: 30px;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-section .button{
    margin-top: 20px;
    width: 25%;
    text-align: center;
}


.contacts div:first-child{
    background-color: var(--gray);
    width: 45%;
    padding: 20px;
    border-radius: 10px;
}

.contacts form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
}

form label{
    padding: 10px 0px;
    font-weight: bold;
}

form input,textarea{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}

form input,textarea:focus{
    outline: none;
}

.contacts .image-contact{
    width: 45%;
}

.contacts .image-contact img{
    width: 100%;
    object-fit: contain;
}

/* footer */
footer{
    background-color: var(--gray);
    padding: 20px 0px;
    margin-top: 10px;
}
.footer-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 0px auto;
}

.footer-elements div:first-child{
    font-weight: bold;
    font-size: 20px;
}

/* LOGIN SECTION */
.login-section{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.405);
    height: 100vh;
    width: 100vw;
    display: none;
}

.login-section .close-icon{
    font-size: 30px;
    color: var(--white);
    text-align: right;
    padding: 20px 40px;

}

.login-section .close-icon i{
    color: var(--white);
    cursor: pointer;
}

.login{
    background-color: var(--white);
    width: 40vw;
    margin: 40px auto;
    padding: 20px 30px;
    border-radius: 10px;
    transform: translateY(50%);
}

.login form{
    display: flex;
    flex-direction: column;
}

.login form button{
    padding: 5px 10px;
    margin-top: 20px;
    width: 25%;
}


footer span{
    color: var(--bule);
}


.icons i{
    color: var(--bule);
    font-size: 25px;
    padding: 0px 15px;
    cursor: pointer;
}

.icons i:hover{
    scale: 1.2;
}


/* Responsiveness */
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
        max-width: 100vw;
    }
    .landingpage{
        width: 100vw;  
        height: 70vh; 
    }
    .nav-items{
        display: none;
    }
    .nav-contents{
        display: block;
    }
    .burger{
        display: block;
    }
    main .intro-word{
        width: 100vw;
    }

    .intro-word h1{
        font-size: 28px;
    }
    .name span:last-child{
        font-size: 18px;
    }
    .small{
        width: 80%;
    }
    /* About Me page */
.about-me{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
}
.description{
    width: 90%;
}

.image{
    width: 30%;
    margin: 0px auto;
}
.image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.description h1{
    padding: 20px 0px;
    text-align: center;
}

.description h2{
    text-align: center;
    padding-top: 20px;
}

.description div{
    padding-bottom: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    width: 100%;
}
.description button{
    justify-self: center;
    margin: 0px auto;
}

/* services */
.cards-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;    
    grid-gap:15px ;
}

.services .card img{
    width: 140px;
    height: 100;
}

.services .card h3{
    padding-top: 20px;
}
/* contacts */
.contact-section{
    width: 100vw;
}
.contacts{
    display: block;
}

.contacts div:first-child{
    background-color: var(--gray);
    width: 95%;
    padding: 20px;
    border-radius: 0px;
    margin: 0px auto;
}
.contacts form{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0px auto;
}

.contacts .image-contact img{
    display: none;
}
/* footer */
footer{
    width: 100vw;
}
.footer-elements{
    justify-content: space-around;
}
.footer-elements div:first-child{
    font-size: 12px;
}

.footer-elements div:nth-of-type(2){
    display: none;
}

.icons i{
    font-size: 20px;
    padding: 0px 5px;
}

}